<!DOCTYPE html>

<html>
  <head>
    <title>AVS Single Line Search</title>
    <link rel="stylesheet" type="text/css" href="../node_modules/angular-material/angular-material.css">  
    <style>
      body{font-family:"Verdana";}a,h1,h2,li::before{color:#337ab7}h1,h2{text-align:center}
      .header{background-color:#fff;width:100%;height:55px;box-shadow:1px 0 6px 0 rgba(0,0,0,.4);text-align:left;padding-left:16px;white-space:nowrap}
      .header-content{display:inline-block;height:100%;vertical-align:middle}
      .header img{max-height:36px;vertical-align:middle}
      .content{width:300px;min-height:300px;margin:auto;border:1px solid #337ab7}  
    </style>       
  </head>
    
<body ng-app="SingleLineSearchApp">
  <div class="header" class="md-padding">
     <span class="header-content">  </span>
     <img src="./assets/img/grip.png">
  </div>
  <h1>AVS 4</h1>
  <h2>Single Line Search</h2>
  <div ng-controller="addressCtrl as ctrl" layout="column" ng-cloak>
    <md-content class="md-padding">
      <form ng-submit="$event.preventDefault()">        
        <md-autocomplete            
            md-no-cache="ctrl.noCache"
            md-selected-item="ctrl.selectedItem"            
            md-search-text="ctrl.searchText"    
            md-selected-item-change="ctrl.selectedItemChange(item)"        
            md-items="item in ctrl.querySearch(ctrl.searchText)"
            md-item-text="item.display"
            md-min-length="3"
            md-delay="400"
            placeholder="Enter search query">
          <md-item-template>
            <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}} ({{item.type}})</span>
          </md-item-template>          
        </md-autocomplete></form> 
        <div ng-if="ctrl.info != ''">
          <h4>{{ctrl.header}}</h4>
          <pre>{{ctrl.info}}</pre>  
        </div>
        
    </md-content>    
  </div>  
  
    
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="../node_modules/angular-material/angular-material.min.js"></script>
    <script src="app.js"></script> 
</body>
</html>
